{% extends "base.html" %}
{%- block title %}
<title>Models</title>
{%- endblock title %}
{%- block content %}
<h1>Modeller</h1>
<p>Web sitesinde bulunan modelleri aşağıda bulabilirsiniz. (Ürettiğimiz diğer modelleri indirmek için bu linke göz atabilirsiniz: 
    <a href="https://github.com/Turkish-Word-Embeddings/Word-Embeddings-Repository-for-Turkish/releases/tag/v1.0.0/">Word Embeddings Repository for Turkish</a>):
</p>
<p>Öncelikle <a href="tulap.cmpe.boun.edu.tr/repository/xmlui/handle/20.500.12913/16">Boun Web Corpus</a> ve 
    <a href="https://github.com/onurgu/linguistic-features-in-turkish-word-representations/releases">Huawei Corpus</a> derlemlerini 
    birleştirerek çok daha geniş bir metin kümesi elde ettik. Bu metin kümesini herhangi bir ön işleme tabi tutmadan doğrudan modellerimizi 
    eğitmek için kullandık. Toplam boyutu yaklaşık 10.5 GB olan bu veri kümesinde, minimum frekans olarak belirlediğimiz 10'dan daha az kullanılan kelimeler hariç olmak üzere toplamda 1,573,013 farklı kelime yer alıyor. 
    Toplam kelime sayısı ise 1,384,961,747 olarak hesaplandı.</p>
    <table class="table table-hover">
        <tbody><tr><td>
        * <strong id="word2vec_skipgram_300">Word2Vec skip-gram negative sampling</strong> 
        <p>Word2Vec skip-gram modeli için kullandığımız parametreler şu şekildedir: 
            <ul>
                <li>Epoch sayısı: 10</li>
                <li>Negatif örnek sayısı = 5</li>
                <li>Vektör boyutu: 300</li>
                <li>Pencere boyutu: 5</li>
                <li>Minimum kelime sıklığı: 10</li>
            </ul>
            </p>
        <p>Aşağıda analoji sorguları için ortalama MRR (ters sıralamarın ortalaması) değerlerini görebilirsiniz<a href="https://en.wikipedia.org/wiki/Mean_reciprocal_rank">*</a>:</p>
        <ul>
            <li><i>İsim çekim ekleri</i> için ağırlıklı MRR ortalaması: <b>0.329</b></li>
            <li><i>Fiil çekim ekleri</i> için ağırlıklı MRR ortalaması: <b>0.609</b></li>
            <li><i>Anlamsal kategoriler</i> için ağırlıklı MRR ortalaması: <b>0.551</b></li>
        </ul>
        <p><a href="https://github.com/Turkish-Word-Embeddings/Word-Embeddings-Repository-for-Turkish/releases/download/v1.0.0/word2vec-skipgram-epoch_10-dim_300-min_count_10-window_5.rar">Modeli buradan indirebilirsiniz.</a> (1.66 GB)</p>
        </td></tr>


        <tr><td>
        * <strong id="fasttext_skipgram_300">FastText skip-gram negative sampling</strong>
        <p>FastText skip-gram modeli için kullandığımız parametreler şu şekildedir: 
        <ul>
            <li>Epoch sayısı: 10</li>
            <li>Negatif örnek sayısı = 5</li>
            <li>Vektör boyutu: 300</li>
            <li>Pencere boyutu: 5</li>
            <li>Minimum kelime sıklığı: 10</li>
        </ul></p>
        <p>Aşağıda analoji sorguları için ortalama MRR (ters sıralamarın ortalaması) değerlerini görebilirsiniz<a href="https://en.wikipedia.org/wiki/Mean_reciprocal_rank">*</a>:</p>
        <ul>
            <li><i>İsim çekim ekleri</i> için ağırlıklı MRR ortalaması: <b>0.371</b></li>
            <li><i>Fiil çekim ekleri</i> için ağırlıklı MRR ortalaması: <b>0.697</b></li>
            <li><i>Anlamsal kategoriler</i> için ağırlıklı MRR ortalaması: <b>0.303</b></li>
        </ul>
        <p><a href="https://github.com/Turkish-Word-Embeddings/Word-Embeddings-Repository-for-Turkish/releases/download/v1.0.0/fasttext-epoch_10-dim_300-min_count_10-window_5.rar">Modeli buradan indirebilirsiniz.</a> (1.66 GB)</p>
        </td></tr>

        
        <tr><td>
            * <strong id="glove">GloVe</strong>
            <p>GloVe modeli için kullandığımız parametreler şu şekildedir: 
                <ul>
                    <li>İterasyon sayısı: 100</li>
                    <li>Vektör boyutu: 300</li>
                    <li>Pencere boyutu: 5</li>
                    <li>Minimum kelime sıklığı: 10</li>
                </ul></p>
                <p>Aşağıda analoji sorguları için ortalama MRR (ters sıralamarın ortalaması) değerlerini görebilirsiniz<a href="https://en.wikipedia.org/wiki/Mean_reciprocal_rank">*</a>:</p>
            <ul>
                <li><i>İsim çekim ekleri</i> için ağırlıklı MRR ortalaması: <b>0.144</b></li>
                <li><i>Fiil çekim ekleri</i> için ağırlıklı MRR ortalaması: <b>0.330</b></li>
                <li><i>Anlamsal kategoriler</i> için ağırlıklı MRR ortalaması: <b>0.460</b></li>
            </ul>
            <p><a href="https://github.com/Turkish-Word-Embeddings/Word-Embeddings-Repository-for-Turkish/releases/download/v1.0.0/glove-itr_100-dim_300-min_count_10-window_5.rar">Modeli buradan indirebilirsiniz</a> (1.48 GB)</p>
            </td></tr>
    

        
        </tbody></table>
        </div>


            <p>
                Türkçe WebVectors'ü kendi modellerinizle denemek için, <a href="https://github.com/Turkish-Word-Embeddings/Turkish-WebVectors">kaynak kodu</a> indirip <code>contextualized_models.tsv</code> dosyasına modeliniz için gerekli bilgileri girin.
            <br/>
                Daha detaylı test sonuçları için <a href="https://github.com/Turkish-Word-Embeddings/Word-Embeddings-Repository-for-Turkish/blob/main/CmpE%20493%20Report.pdf">raporumuza</a> göz atabilirsiniz. 
            </p>
 

        {% endblock %}